.welcome-page-placeholder {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drop {
  margin: 0 20px 0 20px;
  font-size: 50px;
  animation: dropIn 2s ease infinite;
  animation-delay: calc(var(--order) * 100ms);
}
@keyframes dropIn {
  0% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-200px);
  }
}
