article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.auth__main {
  color: rgb(4, 4, 4);
  fill: currentcolor;
  line-height: 1.5;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background: rgb(255, 254, 252);
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.auth__main_inner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.auth__section {
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  margin: 0px auto;
  overflow: visible;
}

.auth__m_title {
  font-size: 50px;
  margin-top: 10vh;
  font-weight: 700;
  margin-bottom: 23px;
  text-align: center;
  line-height: 1.1;
  max-width: 380px;
}

.auth__title_label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -0.264px;
  line-height: 26px;
  width: 320px;
}

.app_name-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  margin-bottom: 16vh;
}

.privacy_remark {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 16px;
  color: rgb(120, 119, 116);
  text-align: center;
  text-wrap: balance;
}

.horizontal-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  height: 41px;
  flex: 0 0 auto;
}

.continue-with-btn {
  user-select: none;
  transition: background 20ms ease-in;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 36px;
  border-radius: 6px;
  color: rgb(29, 27, 22);
  fill: rgb(29, 27, 22);
  background: none;
  font-size: 14px;
  line-height: 1;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  border: 1px solid rgb(227, 226, 224);
  width: 100%;
  box-shadow: none;
  margin-top: 8px;
  font-family: var(--font-family-primary);
}

.continue-with-btn:active:hover {
  background: rgba(55, 53, 47, 0.16);
}

.continue-with-btn:active {
  background: rgba(55, 53, 47, 0.06);
}

.continue-with-btn:focus-visible {
  outline-width: 0;
  box-shadow: inset 0 0 0 1px #2383e291, 0 0 0 2px #2383e259 !important;
}

.auth__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: rgb(120, 119, 116);
  font-weight: 500;
}

.focusable-within:focus-visible {
  outline-width: 0;
}

.focusable-within:focus-within {
  box-shadow: inset 0 0 0 1px #2383e291, 0 0 0 2px #2383e259 !important;
}

.auth__email-input_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px;
  line-height: 26px;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
  background: transparent;
  cursor: text;
  padding: 4px 10px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.auth__input {
  font-size: inherit;
  line-height: inherit;
  border: none;
  background: none;
  width: 100%;
  display: block;
  resize: none;
  padding: 0px;
}

.auth__pwd-input_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
  background: rgba(242, 241, 238, 0.6);
  cursor: text;
  padding: 0px;
  opacity: 0;
  height: 0px;
  pointer-events: none;
}

.continue-btn {
  user-select: none;
  transition: background 20ms ease-in;
  cursor: pointer;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 36px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  background: rgb(35, 131, 226);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset,
    rgba(15, 15, 15, 0.1) 0px 1px 2px;
  color: white;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 100%;
  font-family: var(--font-family-primary);
}

.continue-btn:active:hover {
  background: rgb(0, 107, 199);
}

.continue-btn:active {
  background: rgb(0, 119, 212);
}

.continue-btn:focus-visible {
  outline-width: 0;
  box-shadow: inset 0 0 0 1px #2383e291, 0 0 0 2px #2383e259 !important;
}
